* {
  font-family: calibri
}

.offer-header-1 {
  font-weight: bolder
}

.offer-header-2 {
  position: relative;
  left: 5px
}

.offer-container-backdrop {
  border: 1px hidden;
  border-radius: 10px;
  padding: 0px 20px 30px;
  background-image: url(images/backdrop.png);
  background-size: cover;
  background-position: center;
  margin: auto 10px 10px;
  width: 95%;
}

.enter-to-win {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 10rem;
  font-size: 4rem;
  font-weight: bolder;
  line-height: 3.5rem;
}

.fa-gift {
  position: relative;
  right: 5px;
  font-size: 1.6rem;
  color: rgb(190, 224, 125)
}

.prize-name {
  position: relative;
  bottom: 40px;
  font-weight: 400;
  max-width: 3rem
}

.contain {
  object-fit: contain;
}

.position-adjustment {
    position: relative;
    bottom: 20%;
  }

.prize-image {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 30px;
}

.offer-main-text {
  position: relative;
  font-weight: 500
}

.enter-now-button {
  border: 1px hidden;
  border-radius: 8px;
  background-color: #f02464;
  height: 3rem;
  width: 90%;
  font-weight: 900;
  font-size: large
}

.no-style {
  text-decoration: none;
  cursor: default;
}

.no-style:visited {
  text-decoration: none
}

.white-font {
  color: white
}

.lime-green-font {
  color:rgb(202, 255, 123)
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.justify-content-flex-start {
  display: flex;
  justify-content: flex-start;
}

.align-items-flex-start {
  display: flex;
  align-items: flex-start;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.align-content-flex-start {
  display: flex;
  align-content: flex-start;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.flex-basis-40 {
  flex-basis: 40%
}

.flex-basis-60 {
  flex-basis: 60%
}

@media screen and (min-width: 500px) {
  .offer-container-backdrop {
    width: 95%;
  }

  .content-container {
    width: 450px;

  }

  .enter-to-win {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 100px;
  }

  .position-adjustment {
    position: relative;
    bottom: 65px
  }

  .prize-image {
    width: 250px
  }

  .brand-new, .prize-name {
    font-size: 1.8rem
  }

  .prize-name {
    max-width: 100%;
  }

  .offer-main-text {
    font-size: 2rem;
    text-align: center
  }

  .enter-now-button {
    width: 450px
  }
}
